/* Importing Google Font */

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
/* Common CSS or Utilities Style Start */

body {
    font-family: 'STIX Two Math', serif;
    background-color: #c6c6f3de;
}

.btn:focus, .form-control:focus {
    outline: none;
    box-shadow: none;
}

hr {
    width: 75%;
    margin: auto;
    color: white;
}

.bg-lavender {
    background-color: #aaaaf3;
    color: white;
}

.ccss-font-size {
    font-size: 19px;
}

.box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.070);
}

#loader {
    display: none;
}

.height {
    height: 250px !important;
}

/* Common CSS or Utilities Style End */

/* Menu Display CSS Start */

.form-control {
    font-size: 17.5px;
}

/* Menu Display CSS End */

/* Loader Style Start */

.loader {
    display: flex;
    justify-content: center;
    min-width: 100%;
    align-items: center;
}

.loader>div {
    width: 12px;
    height: 12px;
    background: darkslateblue;
    border-radius: 50%;
    margin: 3px;
    animation: loader 0.6s infinite alternate;
}

.loader>div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader>div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loader {
    to {
        opacity: 0.1;
        transform: translate(0, -20px);
        background: lavender;
    }
}

/* Loader Style End */